@import '../components/variables';

body {
    overflow-x: hidden;
    background-color: $background;
}

::-webkit-scrollbar {
    width: 11px;
}

::-webkit-scrollbar-track {
    background: $white;
}

::-webkit-scrollbar-thumb {
    background: $black;
}