html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  overflow-x: hidden;
  background-color: #ffffff;
}

::-webkit-scrollbar {
  width: 11px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: #000000;
}

main {
  padding-top: 60px;
}

main .box {
  display: -ms-grid;
  display: grid;
  height: 100%;
  place-items: center;
}

main .box .content {
  -webkit-box-shadow: 0 0 0.25rem #888888;
          box-shadow: 0 0 0.25rem #888888;
  border-radius: 8px 8px 0 0;
}

main .box .content h1 {
  border-radius: 8px 8px 0 0;
}

main #edit {
  position: fixed;
  inset: 0;
  opacity: 0;
  visibility: hidden;
}

main #edit .card {
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
}

main #edit.active {
  opacity: 1;
  visibility: visible;
}

main #edit.active .card {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

main #pop-up {
  position: fixed;
  inset: 0;
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
  visibility: hidden;
}

main #pop-up.active {
  opacity: 1;
  visibility: visible;
}
