// ==================== Colors ====================
$red:     #e03d3d;
$blue:    #0000ff;
$gray:    #888888;
$white:   #ffffff;
$black:   #000000;
$yellow:  #f3f321;
$purple:  #680cb5;
$tundora: #464343;
$orange:  #ff6600;
$charade: #26252F;

// ==================== Dual
$whitesmoke:   #f5f5f5;

// ==================== Page
$success:       #25d366;
$background:    #ffffff;